$dark: #1C1C1C;
$gray-600: #505050;
$gray-500: #8B96A5;
$gray-400: #BDC4CD;
$gray-300: #DEE2E7;
$gray-200: #EFF2F4;
$gray-100: #F7FAFC;
$blue-100: #E3F0FF;
$primary: #0D6EFD;
$green-light: #C3FFCB;
$green: #00B517;
$orange-light: #FFE6BF;
$orange: #FF9017;
$red: #FA3434;



